/* General styles */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

header {
    background: #A0DEFF;
    width: 100%;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

nav.contenedor {
    height: 70px;
    width: 90%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.logo {
    height: 70px;
}

.logo img {
    height: 100%;
    vertical-align: top;
    background: #A0DEFF;
}

.logo img:hover {
    background-color: #5AB2FF;
}

nav a {
    color: #000;
    text-decoration: none;
    font-weight: 300;
    margin-right: 10px;
}

nav a:hover {
    background-color: #5AB2FF;
    text-decoration: underline;
}

.menu {
    height: 100%;
    width: 70px;
    text-align: center;
    display: none;
}

.menu img {
    vertical-align: top;
    padding: 13px;
}

@media screen and (max-width: 1000px) {
    .menu {
        display: block;
    }
    .enlaces {
        position: fixed;
        background: #A0DEFF;
        left: 0;
        top: 0px;
        width: 30%;
        height: 100vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        transform: translateX(-100%);
    }
    .enlaces2 {
        transform: translateX(0%);
    }
}

.top-bar {
    max-width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/img/catAndTux.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hello {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
    width: 100px;
    height: 80px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 90px;
}

.typewriter {
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid black;
    animation: blink-caret 0.75s step-end infinite;
    text-align: center;
    position: relative;
    z-index: 2;
    color: #fff;
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: transparent; }
}

main a {
    text-decoration: none;
    color: #0f0f0f;
}

h1 {
    font-size: 2rem;
    line-height: 1.3em;
}

p {
    margin-bottom: 1.6em;
    line-height: 1.3em;
    margin: 5%;
}

.top {
    text-align: center;
}

.container {
    width: 85%;
    max-width: 850px;
    margin: 5% auto;
}

.presentation {
    background-color: transparent;
    max-width: 250px;
    display: block;
    margin: 0px auto;
}

.technologies {
    background-color: #A0DEFF;
    height: 120px;
    width: 100%;
    text-align: center;
}

.main-content {
    padding: 20px;
    margin: 0;
}

.goals {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 40px;
}

.goals img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.left-column {
    flex: 1;
    padding-right: 20px;
}

.right-column {
    flex: 1;
    padding-left: 20px;
    border-left: 2px solid #ddd;
}

.experience {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.experience-text {
    flex: 1;
    padding-right: 20px;
}

.experience img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-left: 20px;
}

.experience h3 {
    margin-top: 0;
}

.experience ul {
    list-style: none;
    padding: 0;
}

.experience ul li {
    margin: 5px 0;
}

.contact--with--me{
    background-color: #A0DEFF;
    height: 170px;
    width: 100%;
    text-align: left;
    display: flex;
}

.btn--portfolio{
    border: 2px solid #5AB2FF;
    text-align: center;
    width: 15rem;
    padding: 10px;
    float: right;
    height: 50px;
    margin: 4rem 0 0 35rem;
}

.btn--portfolio:hover{
    background-color: #5AB2FF;
}

.btn--know--me{
    border: 2px solid #5AB2FF;
    text-align: center;
    width: 20rem;
    padding: 10px;
    height: 50px;
    margin: 4rem 3rem ;
}

.btn--know--me:hover{
    background-color: #5AB2FF;
}

/*card's styles*/

.filter-container {
    position: relative;
    margin: 30px 20px;
    align-self: flex-start;
}

.filter-button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

.filter-options {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
    top: 100%;
    left: 0;
    width: 100%;
}

.filter-option {
    padding: 10px;
    cursor: pointer;
}

.filter-option:hover {
    background-color: #f0f0f0;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 800px;
    margin: 5rem;
}

.card {
    position: relative;
    width: 200px;
    height: 300px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #fff;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.card .description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    transform: translateY(100%);
    transition: transform 0.5s ease;
}

.card:hover img {
    transform: scale(1.2);
}

.card:hover .description {
    transform: translateY(0);
}


/*Contact's styles*/

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.title {
    width: 85%;
    max-width: 850px;
    margin: 5% auto;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

form {
    flex: 1;
    margin: 100px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    width: auto;
    background-color: #5AB2FF;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #3A92E5;
}

.contact-info {
    flex: 1;
    padding-left: 20px;
}

/*Footer*/

.main--footer {
    background-color: #A0DEFF;
    width: 100%;
    padding: 20px 0;
}

.content--footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navigation {
    display: flex;
    justify-content: center;
}

.navigation a {
    padding: 15px;
    text-decoration: none;
    color: #000;
}

.navigation a:hover {
    color: #fff;
}

.icons {
    margin-left: 20px;
    font-size: 25px;
}

.fa-brands {
    color: #000;
}

.fa-brands:hover {
    color: #fff;
    cursor: pointer;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none; /* Initially hidden */
}

.back-to-top:hover {
    background-color: #0056b3;
}
