<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tle>Luigi</title>
    <link rel="stylesheet" href="/Code Portfolio/css/styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/560becc4a6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="contenedor">
            <div class="logo">
                <a href="/Code Portfolio/index.html">
                    <img src="/Code Portfolio/assets/img/Logo.png" alt="Logo"/>
                </a>            
            </div>

            <div class="enlaces">
                <a href="/Code Portfolio/index.html">Inicio</a>
                <a href="/Code Portfolio/views/about.html">Acerca de Mi</a>
                <a href="/Code Portfolio/views/portfolio.html">Portfolio</a>
                <a href="/Code Portfolio/views/contact.html">Contacto</a>
            </div>

            <div class="menu">
                <img src="/Code Portfolio/images/menu-regular-48.png" alt="" id="menu"/>
            </div>
        </nav>
    </header>

    <div class="top-bar_about">
        <div class="title--bar">
            <p>Hola, mi nombre es <br/> <b> Luis González</b></p>

            <p>DEVELOPER ANDROID | WEB.</p>
        </div>
    </div>

    <div class="technologies">
        <p class="job">BUILDING SOFTWARE FROM MEXICO TO THE WORLD</p>
    </div>
    
    <div class="story">
        <img class="logo" src="/Code Portfolio/assets/img/猫.png" alt="Logo" />
        <div class="text--story">
            <h1 style="color: #000">Mi Historia</h1>
            <p>
                Mi nombre es Luis González, soy un desarrollador de software y un amante de la tecnología. <br/>
                Soy un estudiante y desarrollador movil && web, en mis tiempos libres elaboro  proyectos personales o
                laborales.
                Prefetente de sistemas GNU/Linux 
            </p>
        </div>
    </div>
    <main class="content">
        <div class="container">
            <h1>Acerca de mi</h1>
            <p>esto es otra prueba</p>
        </div>
    </main>

    <footer class="main--footer">
        <section class="content--footer">
            <div class="navigation">
                <a href="/Code Portfolio/index.html">Inicio</a>
                <a href="/Code Portfolio/views/about.html">Acerca</a>
                <a href="/Code Portfolio/views/portfolio.html">Portfolio</a>
                <a href="/Code Portfolio/views/contact.html">Contacto</a>
            </div>
            <div class="icons">
                <a href="https://github.com/LuisGH28" target="_blank"><i class="fa-brands fa-github"></i></a>
            </div>
        </section>
    </footer>
    <script src="/Code Portfolio/js/main.js"></script>

</body>
</html>