<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luigi</title>
    <link rel="stylesheet" href="/Code Portfolio/css/contact.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/560becc4a6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="contenedor">
            <div class="logo">
                <a href="/Code Portfolio/index.html">
                    <img src="../assets/img/Logo.png" alt="Logo"/>
                </a>
            </div>
            <div class="enlaces">
                <a href="/Code Portfolio/index.html">Inicio</a>
                <a href="/Code Portfolio/views/about.html">Acerca de Mi</a>
                <a href="/Code Portfolio/views/portfolio.html">Portfolio</a>
                <a href="/Code Portfolio/views/contact.html">Contacto</a>
            </div>
            <div class="menu">
                <img src="../assets/img/menu-regular-48.png" id="menu" />
            </div>
        </nav>
    </header>
    <main class="content">
        <div class="container">
            <h1>quieres contactarme</h1>
            <p>prueba esto</p>
        </div>
        <div class="contact-container">
            <form action="mailto:luisgnzhdz@gmail.com" method="post" enctype="text/plain">
                <label for="name">Nombre:</label><br>
                <input type="text" id="name" name="name" required><br><br>

                <label for="email">Correo Electrónico:</label><br>
                <input type="email" id="email" name="email" required><br><br>

                <label for="subject">Asunto:</label><br>
                <input type="text" id="subject" name="subject" required><br><br>

                <label for="message">Mensaje:</label><br>
                <textarea id="message" name="message" rows="4" required></textarea><br><br>

                <input type="submit" value="Enviar">
            </form>
            <div class="contact-info">
                <!-- Espacio para poner texto adicional -->
                <p>Aquí puedes agregar tu texto adicional.</p>
            </div>
        </div>
    </main>
    <footer class="main--footer">
        <section class="content--footer">
            <div class="navigation">
                <a href="/Code Portfolio/index.html">Inicio</a>
                <a href="/Code Portfolio/views/about.html">Acerca</a>
                <a href="/Code Portfolio/views/portfolio.html">Portfolio</a>
                <a href="/Code Portfolio/views/contact.html">Contacto</a>
            </div>
            <div class="icons">
                <a href="https://github.com/LuisGH28" target="_blank"><i class="fa-brands fa-github"></i></a>
            </div>
        </section>
    </footer>
    <script src="/Code Portfolio/js/main.js"></script>
</body>
</html>
