<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luigi</title>
    <link rel="stylesheet" href="/Code Portfolio/css/styles.css" />
    <link rel="https://fonts.googleapis.com/css?family=Open+Sans: 300,400display=swap" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="contenedor">
            <div class="logo">
                <a href="/Code Portfolio/pages/index.html">
                    <img src="/Code Portfolio/images/Logo.png" alt="Logo"/>
                </a>
            </div>

            <div class="enlaces">
                <a href="/Code Portfolio/pages/index.html">Inicio</a>
                <a href="/Code Portfolio/pages/about.html">Acerca de Mi</a>
                <a href="/Code Portfolio/pages/portfolio.html">Portfolio</a>
                <a href="/Code Portfolio/pages/contact.html">Contacto</a>
            </div>

            <div class="menu">
                <img src="/Code Portfolio/images/menu-regular-48.png" id="menu" />
            </div>
        </nav>
    </header>
   
    <script src="/Code Portfolio/js/main.js"></script>
</body>
</html>