*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background: #fff;
}

header{
    background: #ccd5ae ;
    width: 100%;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

nav.contenedor{
    height: 70px;
    width: 90%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.logo{
    height: 70px;
}

.logo img{
    height: 100%;
    vertical-align: top;
    background: #ccd5ae;
}

nav a{
    color: #000;
    text-decoration: none;
    font-weight: 300;
    margin-right: 10px;
}

nav a:hover{
    background-color: #faedcd;
    text-decoration: underline;
}

.menu{
    height: 100%;
    width: 70px;
    text-align: center;
    display: none;
}

.menu img{
    vertical-align: top;
    padding: 13px;
}

@media  screen and (max-width:1000px) {
    .menu{
        display: block;
    }

    .enlaces{
        position: fixed;
        background: #ccd5ae;
        left: 0;
        top: 0px;
        width: 30%;
        height: 100vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        transform: translateX(-100%);
    }

    .enlaces2{
        transform: translateX(0%);
    }
}

main a{
    text-decoration: none;
    color: #0f0f0f;
}

h1{
    font-size: 2rem;
    line-height: 1.3em;
}

p{
    margin-bottom: 1.6em;
    line-height: 1.3em;
}

.title{
    text-align: center;
    margin: 5%;
    color: #626567;
}

.container{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.top-bar{
    max-width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d4a373;
}

.hello{
    display: flex;
    background-color: #e9edc9 ;
    text-align: center;
    padding: 30px;
    width: 100px;
    height: 80px;
    top: 50%;
    left: 50%;
    margin: -100px -50px;
    position: absolute;
}

.submission{
    padding: 0 10px;
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid ;
    width: 50ch;
    animation: text 2s infinite steps(50),
    blink .5s  step-end alternate;
    overflow: hidden;
    max-width: 225px;
    position: absolute;
    top:100%;
    left: 40%;
    margin: -200px -50px;
}

@keyframes text{
    0% { width:  0;}
}

@keyframes blink{
    50% { border-color: transparent;}
}